<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <queries>
        <package android:name="com.facebook.katana" />
        <package android:name="com.google.android.gm" />
        <package android:name="com.instagram.android" />
        <package android:name="com.twitter.android" />
        <package android:name="com.whatsapp" />
        <package android:name="com.google.android.youtube" />
        <package android:name="org.telegram.messenger" />
        <package android:name="com.google.android.apps.messaging" />
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:hardwareAccelerated="true"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="false"
        android:theme="@style/AppTheme"
        tools:replace="android:supportsRtl">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/admob_app_id" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />


        <activity
            android:name="com.techmath.textonphoto.activities.SplashActivity"
            android:exported="true"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.techmath.textonphoto.activities.TextArtActivity"
            android:launchMode="singleTop"
            android:screenOrientation="nosensor" />
        <activity android:name="com.techmath.textonphoto.mycreation.MyCreationActivity"
            android:screenOrientation="nosensor"/>
        <activity
            android:name="com.techmath.textonphoto.activities.BGActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name="com.techmath.textonphoto.activities.ArtPreviewActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name="com.techmath.textonphoto.activities.HomeActivity"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="nosensor" />
        <activity android:name="com.techmath.textonphoto.activities.PrivacyActivity"
            android:screenOrientation="nosensor"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.techmath.textonphoto.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="com.facebook.ads.AudienceNetworkActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="true" />


    </application>
</manifest>